.header1 h1 {
  font-size: 65px;
}

.navbar {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

a:hover {
  color: #004f4f;
  box-shadow: 10px 10px 20px 0 #004f4f;
}

.navButton1 {
  background-color: white;
  color: #008b8b;
  border: 1px solid #008b8b;
  border-radius: 7px;
  padding: 4px 8px;
  text-align: center;
  font-size: 14px;
}

.navButton2 {
  background-color: #008b8b;
  color: white;
  border: 1px solid #008b8b;
  border-radius: 7px;
  padding: 4px 8px;
  text-align: center;
  font-size: 14px;
}

.navButton2:hover {
  color: white;
}

.signUpButton {
  background-color: #008b8b;
  color: white;
  border: 1px solid #008b8b;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.signUpButton:hover {
  color: white;
}

.chatButton {
  background-color: white;
  color: #008b8b;
  border: 1px solid #008b8b;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
}

.signInLink {
  font-size: 18px;
}

.box{
    height: 130px;
    width: 130px;
    margin: 20px;
    font-size: 15px;
    text-align: center;
}

.boxDark{
    background-color: #008b8b;
    color: white;
}

.boxWhite{
    background-color: white;
}

.box1{
    border-radius: 65px 0 65px 0;
}

.box2{
    border-radius: 100%;
}

.box3{
    border-radius: 0 0 0 65px; 
}

.box4{
    box-shadow: 10px 10px 20px 0 gray;
}

.box5{
    border-radius: 0 65px 0 0;
    box-shadow: 10px 10px 20px 0 gray;
}

.box6{
    border-radius: 100%;
    box-shadow: 10px 10px 20px gray;
} 

.box7{
    border-radius: 100%;
    text-align: center;
}

.box8{
    border-radius: 0 0 65px 0;
}

.box9{
    border-radius: 0 0 65px 0;
}

.box1:hover, .box2:hover, .box3:hover,
.box4:hover, .box5:hover, .box6:hover,
.box7:hover, .box8:hover, .box9:hover{
    box-shadow: 10px 10px 20px 0 #004f4f; 
}

/*
    -------- THE MEAT -----------
*/

.center {
  text-align: center;
}

.marginBetween {
  margin: 5% 0% 0% 0%;
}

.border {
  border: 1px solid #000 !important;
}

.explorePanels {
  height: 130px;
  border-radius: 10%;
}

.explorePanels:hover {
  background-color: #008b8b;
  box-shadow: 10px 10px 10px 0 gray;
  color: white;
}

/*
--------- FOOTER  ---------
*/

footer {
  background: #008b8b;
  margin: 30px;
  padding: 30px;
}

#bold {
  font-weight: bold;
}

.smaller {
  font-size: 14px;
}

.btn-primary {
  padding: 10px;
  margin-right: 100px;
  /*background-color: #8b0000;*/
  /*background-color: #8b0053;*/
  /*background-color: #8b5300;*/
  background-color: #00588b;
  border: 1px solid #00588b;
}

.btn-secondary {
  background-color: white;
  color: #008b8b;
  padding: 10px;
}

.fa-comment-dots {
  margin-right: 10px;
}

.list-inline {
  color: white;
  margin: 10px;
}
