.form-container{
    margin: 20px 0px 0px 20px;
    max-width: 500px;
}

.form-control{
    margin: 20px 0px 0px 0px;
    border-color: black;
    border-radius: 20px;
}

.form-control:focus{
    border-color: #ccffcc;
    box-shadow:0 0 0 .25rem rgba(13,200,75,1)
}