body {
  background-image: url("/img/signup/Group 10@2x.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 75% 75%;
}

.container {
  text-align: center;
}
.sign-up {
  float: right;
  height: 60%;
  width: 60%;
  margin: 100px 0px 0px 20px;
}
.form {
  float: left;
  margin: 100px 0px 0px 20px;
  max-width: 320px;
}

h1 {
  font-size: 50px;
}

.form-control {
  margin: 40px 0px 0px 0px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
}

.form-control:focus,
.form-control:hover {
  border: 1px solid white;
  box-shadow: 0 0 0 0.25rem #0daf4b;
}

.inputWithIcon input[type="text"],
input[type="password"],
input[type="email"] {
  padding-left: 50px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 20px;
  color: #aaa;
}
.inputWithIcon input[type="text"]:focus + i,
input[type="password"]:focus + i,
input[type="email"]:focus + i,
input[type="text"]:hover + i,
input[type="password"]:hover + i,
input[type="email"]:hover + i {
  color: #0daf4b;
}

.signText {
  font-weight: bold;
  font-size: 20px;
  margin: 30px;
  width: 150px;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  background-color: #008b8b;
  color: white;
}

.signText:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0 0.25rem #0daf4b;
}

.fab {
  font-size: 30px;
  color: black;
}

.d-flex {
  margin-top: 20px;
}

.icon {
  border: 1px solid black;
  border-radius: 100%;
  width: 55px;
  padding: 10px;
}

.icon:hover {
  border: 1px solid white;
  box-shadow: 0 0 0 0.25rem black;
}
